*.swp
*.class
*.jar
*.apk
*.dex
*.cache
*.ap_
*.res
.idea/
.settings/
gen/
libs/
bin/
obj/
CheeseCloud/pagerSlibTabLib/build/
CheeseCloud/build/
TestMediaStore/build/
build/
.project
.classpath
.externalToolBuilders/
tags
